
@{
    ViewBag.Title = "Cart";
}

<center><h2>Cart</h2></center>
<body background="img.png" style="background-repeat: no-repeat; background-size: cover">
    <div>
        <center><br></center>
        <table table class =" table" align ="center" style="width:70%" border="1">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th> price</th>
                <th>Total</th>
            </tr>
            @foreach (Add_To_Cart item in ViewBag.Cart)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.Total</td>
                    </tr>
                    }
            </table>
        <div class="row" style="padding-top:5px">
            <div>
                <center>@Html.ActionLink("Buy Now", "CheckOut", "Home")</center>
                                <center><button type="button" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1%"><a href="/Home">Continue Shopping</a></button></center>
</div>
        </div>
    </div>
</body>
