@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SignUp";
}

<center><h2>Sign Up</h2></center>
<body>
    <form method="post">
        @model Project.Models.CustomerViewModel
            <center>User Name:<br></center>
            <center>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { style = "width:230px" } })</center>
            <center>Password:<br></center>
            <center>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { style = "width:230px" } })</center>
            <center>CNIC:<br></center>
            <center>@Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { style = "width:230px" } })</center>
            <center>EMAIL:<br></center>
            <center>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { style = "width:230px" } })</center>
            <center>Home Address:<br></center>
            <center>@Html.EditorFor(model => model.Home_Address, new { htmlAttributes = new { style = "width:230px" } })</center>
                        <div>
                            <center><button type="submit" style="height:33px;width:140px;margin-left:auto;margin-right:auto;margin-top:1% " onclick="location.href='@Url.Action("Login", "Customer")'">LogIn</button></center>
                        </div>
                    </form>
 </body>

